* {
    margin: 0;
    padding: 0;
  }
  .header {
    background: rgb(0, 137, 255);
    height: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .header h3 {
    font-weight: 500;
    font-size: 45px;
    color: #fff;
    line-height: 100px;
  }
   
  
  